// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
//侧边菜单
.left-menu-box {
  --el-menu-item-height: #{pxTovw(50)};
  --el-menu-sub-item-height: var(--el-menu-item-height);
  // --el-menu-bg-color: #{};
  --el-menu-text-color: #fff;
  --el-menu-hover-bg-color: #{$color-hover};
  --el-menu-active-color: #7190fa; //#fff
  --el-menu-level-padding: #{pxTovw(30)};
  --el-menu-icon-width: #{pxTovw(17)};
  --el-menu-item-font-size: #{$fontSize};
}
.layout-tabbar {
  --el-text-color-secondary: #{$fontColor};
}
/**更多下拉项*/
.wl-dropdown {
  cursor: pointer;

  &:hover {
    color: var(--el-color-primary) !important;
  }
}

.wl-dropdown-item {
  .el-dropdown-menu__item {
    height: pxTovw(30);
    line-height: pxTovw(30);
    color: $fontColor;
  }

  .el-dropdown-menu__item.activeItem {
    background-color: #ebf0ff;
    color: var(--el-color-primary);
  }

  .el-dropdown-menu__item:not(.activeItem):focus,
  .el-dropdown-menu__item:not(.activeItem):hover {
    color: var(--el-color-primary);
    background-color: transparent;
  }
}
